@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Inter:wght@400;500;600;700;800;900&display=swap');.logo{
    font-family: 'Cinzel', serif;
}

header .navbar {
    background-color: rgba(21, 21, 21, 0.50);
}

ul li{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: white;
}